<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link rel="stylesheet" href="/static/style/add-style.css">
</head>

<body>
  <h1>Blue Velvet Music Store</h1>
  <h2>Add Product</h2>
  <form id="add-product-form">

    <input type="text" id="productName" name="productName" placeholder="Product Name" required>
    <span class="error-message" id="productName-error"></span>

    <textarea id="shortDescription" name="shortDescription" placeholder="Short Description" required></textarea>
    <span class="error-message" id="shortDescription-error"></span>

    <textarea id="fullDescription" name="fullDescription" placeholder="Full Description" required></textarea>
    <span class="error-message" id="fullDescription-error"></span>

    <input type="text" id="brand" name="brand" placeholder="Brand" required>
    <span class="error-message" id="brand-error"></span>

    <input type="text" id="category" name="category" placeholder="Category" required>
    <span class="error-message" id="category-error"></span>

    <label for="mainImage">Main Image</label>
    <input type="file" id="mainImage" name="mainImage" accept="image/png" required>
    <span class="error-message" id="mainImage-error"></span>

    <label for="extraImages">Extra Images</label>
    <input type="file" id="extraImages" name="extraImages" accept="image/png" multiple>

    <div class="side-container">
      <input type="number" id="price" name="price" step="0.01" placeholder="Price" required>
      <span class="error-message" id="price-error"></span>

      <input type="number" id="cost" name="cost" step="0.01" placeholder="Cost">
      <span class="error-message" id="cost-error"></span>
    </div>

    <input type="number" id="discount" name="discount" step="0.01" placeholder="Discount">

    <div class="input-group">
      <div class="right-container">
        <label class="group-label">Enable</label>
        <div class="radio-input">
          <label>
            <input value="true" name="enable" type="radio" />
            <span>Yes</span>
          </label>
          <label>
            <input value="false" name="enable" type="radio" />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>

    <div class="input-group">
      <div class="right-container">
        <label class="group-label">In Stock</label>
        <div class="radio-input">
          <label>
            <input value="true" name="inStock" type="radio" />
            <span>Yes</span>
          </label>
          <label>
            <input value="false" name="inStock" type="radio" />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>

    <div class="dimensions-container">
      <h3>Dimensions</h3>
      
      <input type="number" id="length" name="length" step="0.01" placeholder="Length (e.g., cm)" required>
      <input type="number" id="width" name="width" step="0.01" placeholder="Width (e.g., cm)" required>
      <input type="number" id="height" name="height" step="0.01" placeholder="Height (e.g., cm)" required>
      <input type="number" id="weight" name="weight" step="0.01" placeholder="Weight (e.g., kg)" required>
      
      <input type="text" id="unit" name="unit" placeholder="Dimension Unit (e.g., cm)">
      <input type="text" id="unitWeight" name="unitWeight" placeholder="Weight Unit (e.g., kg)">
    </div>
    

    <div id="details-container">
      <div class="detail-row">
        <textarea class="detail-textarea" name="details-name" placeholder="Detail Name"></textarea>
        <textarea class="detail-textarea" name="details-value" placeholder="Detail Value"></textarea>
        <button type="button" class="add-detail-button" onclick="addDetail()">Add Detail</button>
      </div>
    </div>

    <div class="side-container">
      <button type="button" id="return-btn" onclick="returnPage()">Return</button>
      <button type="button" id="add-btn" onclick="addProduct()">Add Product</button>
    </div>
  </form>

  <script src="/static/script/add.js"></script>
</body>

</html>
