<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueVelvet Music Store - Register</title>
    <link rel="stylesheet" href="../BlueVelvet/static/style/style.css">
</head>
<body class="login-page">
    <div class="register-container">
        <h1>BlueVelvet Music Store</h1>
        <h2>Register</h2>
        <form id="registerForm">
            <input type="name" id="name" placeholder="Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" minlength="8" required>
            <select id="role" required>
                <option value="">Select Role</option>
                <option value="admin">Administrator</option>
                <option value="salesmanager">Sales Manager</option>
                <option value="editor">Editor</option>
                <option value="ssistant">Assistant</option>
                <option value="shippingmanager">Shipping Manager</option>
            </select>
            <button type="submit">Register</button>
            <p class="error-message" id="registerErrorMessage"></p>
        </form>
        <p>Already have an account? <a href="../BlueVelvet/template/login.html">Login</a></p>
    </div>

    <div class="error-card" id="errorCard" onclick="checkClickOutside(event)" style="display: none;">
        <div class="cardError">
            <div class="cardError-content">
                <h1 class="cardError-heading">Error</h1>
                <p class="cardError-description" id="errorMessage">Default error message.</p>
            </div>
            <div class="cardErro-button-wrapper">
                <button class="cardError-button primary" onclick="closeErrorCard()">OK</button>
            </div>
        </div>
    </div>

    <script src="../BlueVelvet/static/script/register.js"></script>
</body>
</html>
