body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
  
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    max-width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho total */
  }

  h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px;
    text-align: center;
    color: #666;
}
 
button {
    width: 100%;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

  textarea {
    resize: vertical; /* Permite redimensionar apenas horizontalmente */
    width: 100%; /* Garante que o tamanho inicial seja ajustado ao container */
    max-width: 100%; /* Impede que a caixa ultrapasse a largura do container */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho total */
  }

  .detail-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .detail-row textarea {
    resize: none; /* Evita redimensionamento desnecessário */
    height: 40px; /* Define uma altura fixa para alinhamento */
    font-size: 14px; /* Ajusta o tamanho da fonte */
  }
    
  .add-detail-button {
    width: auto; /* Tamanho ajustado ao conteúdo */
    padding: 5px 10px; /* Reduz o espaçamento interno */
    font-size: 14px; /* Ajusta o tamanho da fonte */
    background-color: #333; /* Cor do fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-detail-button:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
  }

  .error-message {
    color: red;
    font-size: 0.875em;
    display: none; /* Initially hidden */
  }
  
  input.error, textarea.error, select.error {
    border: 2px solid red;
  }
  
  input.error:focus, textarea.error:focus, select.error:focus {
    border-color: darkred;
  }
  
  