* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: left;
    color: #444;
}

#header {
    display: flex;
    justify-content:right; /* Alinha os itens nas extremidades */
    align-items: first baseline; /* Centraliza os itens verticalmente */
    padding: 10px 10px; /* Adiciona espaçamento */
    margin-bottom: 0px;
}

#welcomeMessage {
    text-align: right;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

#logoutButton {
    padding: 5px 10px; /* Reduz o tamanho interno do botão */
    font-size: 12px; /* Diminui o tamanho da fonte */
    border-radius: 3px; /* Reduz o arredondamento */
    width: auto; /* Garante que o tamanho do botão seja proporcional ao texto */
 
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#logoutButton:hover {
    background-color: #555;
}
.controls {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.controls button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
.controls select{
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    position: relative;
    z-index: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Define um layout fixo para a tabela */
}

table thead {
    background-color: #007BFF;
    color: white;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden; /* Garante que conteúdo extra não transborde */
    text-overflow: ellipsis; /* Aplica reticências ao conteúdo longo */
    white-space: nowrap; /* Impede quebra de linha */
}

table th {
    font-size: 14px;
    text-transform: uppercase;
}

table td {
    font-size: 14px;
    color: #555;
}

table img {
    max-width: 50px;
    border-radius: 5px;
}

table button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table button:hover {
    background-color: #555;
}

table tr:hover {
    background-color: #a0a0a0;
    color: #007BFF;
}

/* Define tamanhos padrão para colunas específicas */
table th.id-col, table td.id-col {
    width: 50px; /* Tamanho fixo para ID */
}

table th.image-col, table td.image-col {
    width: 70px; /* Tamanho fixo para Imagem */
}

table th.category-col, table td.category-col {
    width: 120px; /* Tamanho fixo para Categoria */
}

table th.actions-col {
    width: 150px; /* Tamanho fixo para Ações */
    height: auto;
}

/* Permite quebra de linha nas colunas Name e Brand */
table th.name-col, table td.name-col,
table th.brand-col, table td.brand-col {
    white-space: normal; /* Permite quebra de linha */
    word-wrap: break-word; /* Quebra palavras longas */
}

/* Estilo da coluna de ações */
table td.actions-col {
    width: 150px; /* Ajuste conforme necessário */
    text-align: center;
    white-space: nowrap; /* Impede quebra de linha */
    vertical-align: top; /* Garante que o conteúdo esteja no topo da célula */
}

/* Estilo dos botões dentro da coluna de ações */
table td.actions-col button {
    display: block; /* Faz com que os botões fiquem em blocos e empilhados um abaixo do outro */
    width: 100%; /* Faz com que os botões ocupem toda a largura da célula */
    margin: 2px 0; /* Adiciona um espaçamento entre os botões */
}

table .btn-action {
    display: inline-block; /* Exibe os botões lado a lado */
    margin: 2px; /* Espaçamento entre os botões */
    padding: 5px 8px;
    font-size: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table .btn-action:hover {
    background-color: #0056b3;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}

.pagination .page-number {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 2px 5px;
    text-decoration: none;
}

.pagination .page-number.active {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination .nav-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .nav-button:hover {
    background-color: #0056b3;
}

.pagination .nav-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination .dots {
    font-size: 16px;
    color: #777;
    margin: 0 5px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.pagination-button.active {
    color: blue; /* Destaque para o botão ativo */
}
.pagination-button:disabled {
    color: #ccc; /* Cor desabilitada */
    cursor: not-allowed;
}
.pagination button {
    padding: 5px 10px; /* Reduza o preenchimento interno */
    font-size: 12px; /* Diminua o tamanho da fonte */
    border-radius: 5px; /* Ajuste o arredondamento dos cantos */
}

/* Responsividade */
@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .controls input, .controls select, .controls button {
        width: 100%;
        margin-bottom: 10px;
    }
    

    table th, table td {
        font-size: 12px;
    }

    #logoutButton {
        width: 100%;
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.popup.hidden {
    display: none;
}

#closePopupButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 10000; /* Valor elevado para sobrepor outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
